@model PassionProjectV1.Models.ViewModels.UpdateReview

@{
    ViewBag.Title = "Edit";
}

<h2>Update Review</h2>


<form action="/Review/Update/@Model.SelectedReview.ReviewId" method="POST">
    <div style="display:none;">
        <input type="text" name="ReviewId" value="@Model.SelectedReview.ReviewId" />
    </div>
    
    <div>
        <h2>@Model.SelectedReview.SongName</h2>
   
    </div>
    <div>
        <label>Song Id:</label>
        <select name="SongId">
            @foreach (var songs in Model.SongOptions)
            {
                <option value="@songs.SongId">@songs.SongName</option>
            }

        </select>

    </div>
    <div>
        <label>Review:</label> <input type="text" name="ReviewText" value="@Model.SelectedReview.ReviewText" />
    </div>
    <div>
        <label>First Name:</label> <input type="text" name="fname" value="@Model.SelectedReview.fname" />
    </div>
    <div>
        <label>Last Name:</label> <input type="text" name="lname" value="@Model.SelectedReview.lname" />
    </div>
    <div>
        <input type="submit" value="Update Review" />
    </div>
</form>

