@model PassionProjectV1.Models.ViewModels.DetailsSong

@{
    ViewBag.Title = "View";
}

<a href="/Song/List">List of songs</a> <br />
<a href="/Song/Edit/@Model.SelectedSong.SongId">Update</a> <br />
<a style="color:darkred;" href="/Song/DeleteConfirm/@Model.SelectedSong.SongId">Delete</a>
<h2>@Model.SelectedSong.SongName</h2>
<div>By @Model.SelectedSong.Artist</div>
<div>Album: @Model.SelectedSong.Album</div>

<div style="margin-top:50px">
    <h3>Genres for @Model.SelectedSong.SongName</h3>
    @foreach(var genre in Model.GenreForSong)
    {
        <a href="/Genre/Details/@genre.GenreId">@genre.Genre</a> 
        <a style="color:red;" href="/Song/Remove/@Model.SelectedSong.SongId?genreid=@genre.GenreId">[x]</a> <br>
        
    }

    <div>
        <h3>
            Add a new genre
        </h3>
        <form method="POST" action="/Song/AddNew/@Model.SelectedSong.SongId">
            <select name="genreId">
                @foreach (var genre in Model.AvailableGenres)
                {
                    <option value="@genre.GenreId">@genre.Genre</option>
                }
            </select>
            <input type="submit" value="Add new genre" />

        </form>
        
    </div>

</div>

<div style="margin-top:50px;">
    <h3>Reviews for song</h3>
    @foreach(var review in Model.RelatedReviews)
    {
        <a href="/Review/Details/@review.ReviewId">@review.ReviewText</a>
    }
</div>





