@model IEnumerable<PassionProjectV1.Models.SongDto>
@{
    ViewBag.Title = "List";
}

<div class="main-content">
    <form action="/Song/New">
        <input style="margin-top: 15px;" type="submit" class="btn btn-info" name="NewSong" value="Add a new Song" />
    </form>
    <h2>Songs</h2>

    <p>
        @using (Html.BeginForm("List", "Song", FormMethod.Get))
        {

            @Html.TextBox("search") <input type="submit" value="search" />

        }
    </p>

    <p>@Html.ActionLink("View Full Song List", "List")</p>



    @if (Model.Count() == 0)
    {
        <p>There are no results for that search</p>
    }

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> @Html.DisplayNameFor(model => model.SongName)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Artist)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Album)</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>



                        <td>@Html.DisplayFor(modelItem => item.SongName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                        <td>@Html.DisplayFor(modelItem => item.Album)</td>
                        <td>
                            <form action="/Song/Details/@item.SongId">
                                <input type="submit" class="btn btn-info" name="SongDetails" value="Details" />
                            </form>

                        </td>
                        <td>
                            <form action="/Song/Edit/@item.SongId">
                                <input type="submit" class="btn btn-info" name="SongUpdate" value="Update" />
                            </form>
                        </td>
                    </tr>

                }

            </tbody>




        </table>
    </div>


</div>
